---
import LightSwitch from "./LightSwitch.astro";
import NavBar from "./NavBar";
---

<div class="top-bar">
    <a id="logo" href="/">Gerard Fabregó</a>

    <NavBar client:load />
    <div id="toggle">
        <LightSwitch />
    </div>
</div>

<style>
    .top-bar {
        position: fixed;
        width: 100%;
        top: 0;
        background-color: var(--color-background);
        z-index: 100;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 20px;
        height: var(--header-height);
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    }

    #logo,
    #toggle {
        flex: 2;
    }

    #toggle {
        display: flex;
        justify-content: flex-end; /* Aligns the child to the left */
    }
</style>
