---
import LightSwitch from "./LightSwitch.astro";
import NavBar from "./NavBar";
---

<div class="top-bar">
    <div id="logo">
        <a href="/">Gerard Fabregó</a>
    </div>
    <NavBar client:load />
    <LightSwitch />
</div>

<style>
    .top-bar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 20px;
        height: 7vh;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    }

    ul {
        display: flex;
        flex-direction: row;
        list-style-type: none;
        justify-content: center;
        margin: 0;
        padding: 0;
    }

    li {
        padding: 0 10px;
    }
</style>
