---
import HeroBanner from "@/layouts/HeroBanner.astro";
import GlobalLayout from "../layouts/Global.astro";
import Prose from "../components/Prose.astro";

---

<GlobalLayout>
    <HeroBanner>
        <Prose>
            <h1>Woops!<br><br> It seems the page you are looking for doesn't exist.</h1>
        </Prose>
    </HeroBanner>
</GlobalLayout>
