---
const { title, description, tags, link } = Astro.props;
---

<div class="card">
    <a href={link}>
        <h1>{title}</h1>
        <content>{description}</content>
        {tags.map((tag: any) => <div>{tag}</div>)}
    </a>
</div>

<style>
    .card {
        padding: 10px;
        max-width: 300px;
        border: 1px solid black;
        border-radius: 20px;
    }
</style>
