---
import { getCollection } from "astro:content";

import CardsDisplayer from "@/components/CardsDisplayer";
import Prose from "@/components/Prose.astro";
import GlobalLayout from "@/layouts/Global.astro";
import ColumnLayout from "@/layouts/Column.astro";

const posts = await getCollection("articles");
const tags = [...new Set(posts.flatMap((post) => post.data.tags))];

---

<GlobalLayout>
    <ColumnLayout>
        <Prose>
            <h1>Digital Garden</h1>
            <h4>Select tags to filter</h4>
        </Prose>
        <CardsDisplayer client:load posts={posts.map((p => {return {id: p.id, ...p.data}}))} tags={tags}/>
    </ColumnLayout>
</GlobalLayout>

<style>
    #tags{
        display: flex;
        gap: 10px;
        margin-top: 10px;
        margin-bottom: 20px;
    }
</style>
