---

---

<div class="column">
    <slot />
</div>

<style>
    .column {
        margin: auto;
        max-width: max-content;
        padding: 50px 75px;
        box-sizing: content-box;
    }
</style>
