---

---

<div class="column">
    <slot />
</div>

<style>
    .column {
        margin: auto;

        max-width: var(--column-width);
        /* width: var(--column-width); */
        padding: 50px 75px;
        box-sizing: content-box;
    }
</style>
