---
import "@/styles/global.css";

import TopBar from "../components/TopBar";
import Footer from "../components/Footer.astro";
---

<!doctype html>
<html lang="en">
	<head>
		<script is:inline>
			if (
				localStorage.theme === "dark" ||
				(!("theme" in localStorage) &&
					window.matchMedia("(prefers-color-scheme: dark)").matches)
			) {
				document.documentElement.classList.add("dark");
			} else {
				document.documentElement.classList.remove("dark");
			}
		</script>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>My website</title>
	</head>
	<body>
		<script>
			const theme = localStorage.getItem("theme") || "light";
			document.documentElement.dataset.theme = theme;
		</script>
		<TopBar />
		<main>
			<slot />
		</main>
		<Footer/>
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		background-color: var(--color-background);
		scroll-behavior: smooth;
		color: var(--color-primary);
	}

	main {
		min-height: 82vh;
		margin-top: 7vh;
	}


</style>

<style is:global>
	* {
		transition-property: background-color, border-color,
		text-decoration-color, fill, stroke, --tw-gradient-from,
		--tw-gradient-via, --tw-gradient-to;
		transition-timing-function: var(--default-transition-timing-function);
		transition-duration: var(--default-transition-duration);
	}
</style>